img.pimage {
    width: 150px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products .p{
    margin-top: 20px;
    margin-bottom: 20px;

}
.col-xs-12{
    text-align: center;
}
img.spi {
    width: 100px;
}
ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none ;
}